<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Tests Voxclam</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'arach/style.css' %}" />
    </head>

    <body>
    <p class="wip">work in progress - don't panic</p>
        <div id="wrapper">

            <div class="block">
                <h2>
                    {{name}} : {{cast}}
                </h2>
                {% load staticfiles %}
                <img class ="avatar_img" src="{% static avatar %}" alt = 'profile pic'/>
            </div> <!-- block end -->  

            <div class="block">    
                <h2>Description</h2>
                <p>{{description}}</p>
            </div> <!-- block end -->

            <div class="block">
                <h2>Inventaire</h2>
                <ul>{% for item in stuff %} <li>{{item}}</li> {% endfor %}</ul>
            </div> <!-- block end -->
        
          <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
          <div class="menu">
            <label class="menu-toggle" for="menu"><span>Toggle</span></label>
            <ul>
                <li>      
                    <label for="menu-3">Personnages</label>
                    <input type="checkbox" id="menu-3" name="menu-3" class="menu-checkbox">
                    <div class="menu">
                        <label class="menu-toggle" for="menu-3"><span>Toggle</span></label>
                            <ul>
                                {% for character in content %}
                                    <li>
                                        <a href="{{character.pk}}">{{character.name}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                    </div>
                    <a href="/arach">Retour à l'index</a>
                </li>
            </ul>
          </div> <!-- Menu end --> 
        </div><!-- wrapper end -->
    </body>
</html>