<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Tests Voxclam</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
        <link rel="favicon" href="{%  static favicon %}">
    </head>

    <header>

        <div class="block" id="char_dropdown">
            <p>Navigation</p>
            <div id="char_dropdown_content">
                <h4>{{ current_user |safe }}</h4>
                <a href="/"><h4>Accueil</h4></a>
                <h3>Personnages :</h3>
                {% for char in content %}
                <a href="/arach/character/{{char.pk}}"><h4>{{char.name}}</h4></a>
                {% endfor %}
            </div>
        </div>

    </header>
    
    <body>
        <div class="wrapper">

            <div class="block">
                <h2>
                    {{name}} : {{cast}}
                </h2>
                {% load staticfiles %}
                <img class ="avatar_img" src="{% static avatar %}" alt = 'profile pic'/>
            </div> <!-- block end -->  

            <div class="block">    
                <h2>Description</h2>
                <p>{{description}}</p>
            </div> <!-- block end -->

            <div class="block">
                <h2>Inventaire</h2>
                <ul>{% for item in stuff %} <li>{{item}}</li> {% endfor %}</ul>
            </div> <!-- block end -->

        </div><!-- wrapper end -->
    </body>

</html>