<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Tests Voxclam</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'arach/style.css' %}" />
    </head>

    <header>
        <a class="header_item" href="#">Menu personnages (work in progress)</a>
        <a class="header_item" href="/arach">Retour à l'index</a> 
    </header>
    
    <body>
        <div id="wrapper">

            <div class="block">
                <h2>
                    {{name}} : {{cast}}
                </h2>
                {% load staticfiles %}
                <img class ="avatar_img" src="{% static avatar %}" alt = 'profile pic'/>
            </div> <!-- block end -->  

            <div class="block">    
                <h2>Description</h2>
                <p>{{description}}</p>
            </div> <!-- block end -->

            <div class="block">
                <h2>Inventaire</h2>
                <ul>{% for item in stuff %} <li>{{item}}</li> {% endfor %}</ul>
            </div> <!-- block end -->

        </div><!-- wrapper end -->
    </body>

</html>