<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Tests Voxclam</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
    </head>

    <header>
        <div class="block" id="char_dropdown">
            <p>Navigation</p>
            <div id="char_dropdown_content">
                <a href="/"><h4>Accueil</h4></a>
                <a href="/login"><h4>Login</h4></a>
            </div>
        </div>

    </header>

    <body>

        <div id="wrapper">
        
            <div class="block">
                <h2>
                    Arach - Affichage des personnages
                </h2>

                <p>
                    Choisissez un personnage à afficher.
                </p>
            </div> <!-- block end -->

            <div class="container">
                {% for character in content %}
                    <div class="block">
                        <a href="character/{{character.pk}}">
                            <h4>{{character.name}}</h4>
                            {% load staticfiles %}
                            <img class ="avatar_index" src="{% static character.img %}" alt = "{{character.name}}"/>
                        </a>
                    </div>
                {% endfor %}
            </div> <!-- block end --> 

        </div> <!-- wrapper end -->
    </body>
</html>