<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Tests Voxclam</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
    </head>

    <body>

        <div id="wrapper">
        
            <div class="block">
                <h2>
                    Arach - Affichage des personnages
                </h2>
                {% load staticfiles %}
                <img href="http://www.tituslunter.com/" src="{% static main_img %}" alt = 'Art by Titus Lunter'/>
                <p>
                    Choisissez un personnage à afficher.
                </p>
            </div> <!-- block end -->

            <div class="container">
                {% for character in content %}
                    <div class="block">
                        <a href="character/{{character.pk}}">
                            <h4>{{character.name}}</h4>
                            {% load staticfiles %}
                            <img class ="avatar_index" src="{% static character.img %}" alt = "{{character.name}}"/>
                        </a>
                    </div>
                {% endfor %}
            </div> <!-- block end --> 

        </div> <!-- wrapper end -->
    </body>
</html>