<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Vaste :: Gestion de compte</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
    </head>

    <body>

        <div id="wrapper">
        
            <div class="block">
                <h2>
                    Vaste.fr :: Gestion de compte
                </h2>
            </div> <!-- block end -->
            
            <div class="block">
                <h2><a href="/login">Se connecter</a></h2>
                <h2><a href="/logout">Se déconnecter</a></h2>
                <h2><a href="/password_change">Changer de mot de passe</a></h2>
            </div> <!-- block end -->

        </div> <!-- wrapper end -->
    </body>
</html>