<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Vaste :: Accueil</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
    </head>

    <body>

        <div id="wrapper">
        
            <div class="block">
                <h2>
                    Vaste.fr :: Accueil
                </h2>
            </div> <!-- block end -->
            {% load staticfiles %}
            <img href="http://www.tituslunter.com/" src="{% static main_img %}" alt = 'Art by Titus Lunter'/>
            <div class="block">
                <h2><a href="/login">Se connecter</a></h2>
                <br>
                <h2><a href="/arach">Voir les personnages</a></h2>
            </div>

        </div> <!-- wrapper end -->
    </body>
</html>